.header {
    border: 1px solid red;
    display: grid;
    padding: 1em;


}

header .container {
    display: grid;
    border: 2px solid blue;
    grid-template-columns: 1fr 6fr;
    grid-column-gap: 1em;

}
.subheading {
    display: grid;
    grid-template: 1fr;
    text-align: center;
    
}

.nav {
    border: 1px solid green;
    display: grid;
    
}


.navigation {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

nav ul li a {
    color: white;
    padding: 10px 0;
    margin: 0px 0;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: lightblue;
}

.navigation li {
    display: none;
}

.wrapper {
    border: 2px dashed red;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1em;
}
.wrapper div {
    display: grid;
    grid-template-columns: 1fr; 
}
.wrapper div a {
    padding: 5px;
    max-width: 400px;
}

.wrapper div img:hover {
    box-shadow: 5px 5px 10px gray;
}
footer {
    background-color: skyblue;
    text-align: center;
    padding-bottom: 20px;
}



@media only screen and (min-width: 860px) {
    nav ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: skyblue;
        justify-content: space-around;
    }

    nav button {
        display: none;
    }
    .navigation li {
        display: grid;

    }
    .navigation {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1em;
    }

    .wrapper {
        border: 2px solid green;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }


}

@media only screen and (min-width: 1288px) {
    .wrapper {
        border: 2px solid green;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;


    }
