@media only screen and (min-width: 650px) {
    body {
        display: flex;
        flex-flow: row wrap;
    }
    header {
        flex: 1 100%;
    }

    .navigation li {
        display: flex
    }
    nav button {
        display: none;
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: skyblue;
        display: flex;
        justify-content: space-around;
    }
    nav ul li {
        display: flex;
    }
    
}
