main {
    
    padding: 1.5em;
}
form {
    margin: 0 auto;
    
}
form .container {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    padding: 1em 0;
}

label input {
}

.personal {
    padding: 0 1em 0 0;
}
.personal label {
    display: block;
    justify-content: space-around;
    padding: .5em 0;
    
}

.stormInfo label {
    display: block;
    padding: .5em 0;
}
.userInfo label {
    display: block;
    padding: .5em 0;
}

.submit { 
 
}
