/*All / phone width. */

* {
    /*    font-family: 'Nunito', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Acme', sans-serif;
    color: #687864;

}

h2 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    color: #5085A5;
    margin: 0;
}

h3 {
    font-family: 'Acme', sans-serif;
    color: #5085A5;
    background-color: bisque;
}

main {
    font-family: 'Open Sans', sans-serif;
}

.nav {
    display: grid;

}

nav ul {
    padding: 0;
}

.navigation li {
    display: none;

}

nav ul li {
    text-align: center;
}

nav button {
    display: grid;
    background-color: #8FC1E3;

}

nav ul li a {
    color: white;
    padding: 10px 0;
    margin: 0px 0;
    text-decoration: none;
}

nav ul li a:hover {
    background: #5085A5;
}

.active {
    background: #5085A5;
}



@media only screen and (max-width: 440px) {
    .navigation.repsonsive {
        display: grid;
    }
    .navigation.responsive li {
        display: grid;
        list-style-type: none;
        background-color: #8FC1E3;
    }
    .navigation.responsive li a {
        padding: 1rem;
        text-align: center;
        text-decoration: none;
    }
    .navigation.responsive li a:hover {
        background-color: #5085A5;
    }

}

@media only screen and (min-width: 440px) {
    nav {
        background-color: #8FC1E3;

    }
    nav ul {
        list-style-type: none;
        margin: 0;
        overflow: hidden;
    }

    nav button {
        display: none;
    }
    .navigation li {
        display: grid;

    }
    .navigation {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1em;
    }

}

.home a:link {
    text-decoration: none;
  
}

.home h3:hover {
    box-shadow: 5px 5px 10px gray;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    border: solid black;
    max-width: 800px;
    margin: 0 auto;
}
main .container {
    padding: 1em;
}

footer {
    background-color: #8FC1E3;
    text-align: center;
}

footer aside {
    padding-top: .5em;
}


header .container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 1em;
    justify-content: center;
}
header img {
    margin: auto;
}
main img {
    max-width: inherit;
}

.group, .table {
    display: grid;
    border: dashed red;
    grid-template-columns: 1fr;
    padding: 1em;
}
table, th, td {
            border: 1px solid black;
        }
table th {
    background-color: #8FC1E3;
}

table {
    width: 100%;
}

.description {}

image {
    background-color: aqua;
}

#accordion h3 {
    background-color: #8FC1E3;
}

.personal label {
    display: block;
    padding: 4px;
    
}
.personal {
    display: block;
    float: left;
}
textarea {
    width: 100%;
}
.regImg {
    display: none; 
}



/*tablet width */

@media only screen and (min-width: 440px) {
    .group {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
    .group #sales,
    #service  {
        order: 1
    }
    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }
     #accordion  .specs {
        display: grid;
        grid-template-columns: 1fr 1fr;
            
        }
    .table {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
        
    }
    textarea {
    width: 100%;
}
    .regImg {
      
        display: none;
        
    }
 
    


}

/*desktop width */

@media only screen and (min-width: 1200px) {
    .group {
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 1em;
    }
    .description {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .table {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1em;
        
    }
    .regImg {
    display: inherit; 
}
    
   
}
