.style1 {
    margin: 0 auto;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #eee;
    line-height: 1.5em;
}

.navbar {
    margin: 0 5px;
}

header {
    margin: 0 auto;
    max-width: 500px;
    
    text-align: center;

}

nav {
    margin: 0 auto;
    background-color: lightgray;
    padding: .5px;
    
}

img {
    margin: 5px;
}