main {

    padding: 1.5em;
}

form {
    margin: 0 auto;
    width: 80%;
}

form .container {

    display: grid;
    margin: 0 auto;

    /*
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    padding: 1em 0;
*/
}
form .userInfo {
        display: grid;
        margin: 0 auto;
}

label input {}

.personal {
    padding: 0 1em 0 0;
}

.personal label {
    display: block;
    justify-content: space-around;
    padding: .5em 0;

}

.stormInfo label {
    display: block;
    padding: .5em 0;
}

.userInfo label {
    display: block;
    padding: .5em 0;
}

.submit {}

@media only screen and (min-width: 860px) {

    form .container {
        grid-template-columns: 1fr 1fr;
        display: grid;
        margin: 0 auto;
    }
    form .userInfo {
        grid-template-columns: 1fr 1fr;
        display: grid;
        margin: 0 auto;
    }
}
