.story {
    width: 80%;
    margin: 0 auto;
    display: grid;
}

.story article {
    justify-content: space-around;
}

.city {
    display: grid;
    width: 80%;
    margin: 0 auto;
    border: 4px solid deepskyblue;

}

.city article {
    
}
.highlow {
    display: flex;
    justify-content: space-around;
    
}

@media only screen and (min-width: 440) {
    .story {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    .cities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .story article {
        
    }

}

@media only screen and (min-width: 650px) {
    .story {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }
    .cities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
